h2 {
    color: palevioletred;
    background-color: darkcyan;
}

button {
    color: blueviolet;
    background-color: antiquewhite;
}

p {
    color: salmon;
    background: aquamarine;
}